<%- include ('layouts/header') -%>
<!-- home section starts  -->
<section class="home" id="home">

    <div class="swiper-container home-slider">

        <div class="swiper-wrapper wrapper">

            <div class="swiper-slide slide">
                <div class="content">
                    <span>Món đặt biệt</span>
                    <h3>Mì ý chay</h3>
                    <p>Món chay duy nhất mang hương vị Ý, cực thơm ngon!</p>
                    <a href="/menu/27" class="btn">Đặt ngay</a>
                </div>
                <div class="image">
                    <img src="/images/home-img-1.png" alt="">
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="content">
                    <span>Món đặc biệt</span>
                    <h3>Gà quay nguyên con</h3>
                    <p>Gà vườn đạt chuẩn, thích hợp cho cả gia đình bạn!</p>
                    <a href="/menu/28" class="btn">Đặt ngay</a>
                </div>
                <div class="image">
                    <img src="/images/home-img-2.png" alt="">
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="content">
                    <span>Món đặt biệt</span>
                    <h3>Pizza ngoại cỡ</h3>
                    <p>Pizza khổng lồ với đầy đủ các loại topping hải sản</p>
                    <a href="/menu/29" class="btn">Đặt ngay</a>
                </div>
                <div class="image">
                    <img src="/images/home-img-3.png" alt="">
                </div>
            </div>

        </div>

        <div class="swiper-pagination"></div>

    </div>

</section>

<!-- home section ends -->

<!-- dishes section starts  -->

<section class="dishes" id="dishes">

    <h3 class="sub-heading"> Thực đơn </h3>
    <h1 class="heading"> Các món phổ biến </h1>

    <div class="box-container">
        <% for(let i=0;i< 8; i++){%>
        <div class="box">
            <a href="/menu/<%= rows[i].id %>">
                <img src="https://raw.githubusercontent.com/PhucNguyen1905/RestaurantPOS/main/images/<%= rows[i].image %>"
                    alt="">
                <h3><%= rows[i].name %></h3>
            </a>

            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span><%= rows[i].price/1000 %>.000 VND</span>
        </div>
        <%};  %>

    </div>

</section>


<%- include ('layouts/footer') -%>