<%- include ('layouts/header') -%>

<!-- menu section starts  -->

<section class="menu" style="margin-top: 4.5em;" id="menu">

    <h3 class="sub-heading"> our menu </h3>
    <h1 class="heading"> today's speciality </h1>
    <form action="/menu/filter" method="post">
        <select onchange="this.form.submit()" name="category" class="form-select form-select-lg mb-3" style="font-size: 2rem;">
            <option selected value="0">Chọn loại món ăn</option>
            <option value="0">Tất cả</option>
            <% categories.forEach(function(cat){ %>
            <option value="<%= cat.id %>"><%= cat.name %></option>
            <% }) %>
        </select>
    </form>
    <div class="box-container">
        <% rows.forEach(function(dish){%>
        <div class="box">
            <div class="image">
                <a href="/menu/<%= dish.id %>">
                    <img src="https://raw.githubusercontent.com/PhucNguyen1905/RestaurantPOS/main/images/<%= dish.image %>"
                    alt="">
                </a>
            </div>
            <div class="content">
                <a href="/menu/<%= dish.id %>">
                    <h3><%= dish.name %></h3>
                </a>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p><%= dish.brief %></p>
                <!-- <a href="/cart/add/<%= dish.id %>" class="btn">add</a> -->
                <span class="price"><%= dish.price %> VND</span>
            </div>
        </div>

        <%}) %>


    </div>

</section>

<!-- menu section ends -->

<%- include ('layouts/footer') -%>