<%- include ('layouts/header') -%>

<% 
    convertTime = function(t) {
        var date = new Date(t);
        date = date.getUTCFullYear() + '-' +
            ('00' + (date.getUTCMonth()+1)).slice(-2) + '-' +
            ('00' + date.getUTCDate()).slice(-2) + 'T' + 
            ('00' + (date.getUTCHours()+7)).slice(-2) + ':' + 
            ('00' + date.getUTCMinutes()).slice(-2);
        return(date);
    }
%> 



<!-- table section starts  -->
<section style="margin-top: 4.5em;" class="order" id="order">

    <h3 class="sub-heading"> reserve table now </h3>
    <h1 class="heading"> free and fast </h1>
    <a href="/table" class="link-primary" style="font-size: 17px;">Reserve New Table</a>
    <br/>
    <form class= "needs-validation" method="POST" action="/table/rud" novalidate >
        <div class="inputBox">
            <input type="search" class="form-control" placeholder="Enter your phone" aria-label="Search" name="searchPhone">
        </div>
    </form>
    <br/>
    
    <% if (status == 'search') { %>
        <% if (reserveInfors.length > 0) { %>
            <form class= "needs-validation" method="POST" action="/table/updateNamePhone/<%= reserveInfors[0].customerPhone %>" novalidate >
                <% if (alert) { %>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <%= alert %> 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                <% } %> 
                <div class="inputBox">
                    <div class="input">
                        <span>your name</span>
                        <textarea id="" style="height: 50px" name="customerName" ><%= reserveInfors[0].customerName %></textarea>
                    </div>
                    <div class="input">
                        <span>your phone number</span>
                        <input type="tel" name="customerPhone" value=<%= reserveInfors[0].customerPhone %>>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2"><input type="submit" value="Update" class="btn"></div>
                    <div class="col-6">
                        <a class="btn btn-primary" href="/table/deleteAll/<%= reserveInfors[0].customerPhone %>" role="button">Delete All Table</a>
                    </div>
                </div>
            </form>
            <br/>
            <% var table_count = 1 %> 
            <% reserveInfors.forEach(function(reserveInfor) { %>
                <form class= "needs-validation" method="POST" action="/table/update/<%= reserveInfor.id %>/<%= reserveInfor.customerPhone %>" novalidate >
                    <h2>Table <%= table_count %> </h2>
                    <% table_count += 1 %> 
                    <h4>Table status: <b><%= reserveInfor.status %></b></h4>
                    <i class="fas fa-reply"></i>
                    <h4>Manager Response: <b><%= reserveInfor.managerResponse %></b> </h4>
                    
                    <div class="inputBox">
                        <div class="input">
                            <i class="fas fa-user-friends"></i>
                            <span>Choose Number People</span>
                            <select id="inputState" class="form-select" style="height: 50%;" name="numberPeople">
                                <% for ( var i = 1; i <= 6; i++ ) {
                                    var selected = ( reserveInfor.numberPeople == i ) ? "selected" : "";
                                    %><option <%=selected %>><%=i%></option><%
                                } %>
                            </select>
                        </div>
                        <div class="input">
                            <i class="fas fa-clock"></i>
                            <span>date and time</span>
                            <input type="datetime-local" name="time" value="<%= convertTime(reserveInfor.time) %>">
                        </div>
                    </div>
                    <div class="inputBox">
                        <div class="input">
                            <i class="fas fa-comment-dots"></i>
                            <span>your message</span>
                            <textarea id="" style="height: 50px" name="message" ><%= reserveInfor.message %></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2"><input type="submit" value="Update" class="btn"></div>
                        <div class="col-6">
                            <a class="btn btn-primary" href="/table/delete/<%= reserveInfors[0].id %>/<%= reserveInfors[0].customerPhone %>" role="button">Delete</a>
                        </div>
                    </div>
                </form>
                <br/>
            <% }); %>
        <% } else { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                Your phone number has not been used to reserve a table. !!!
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
             </div>
        <% } %>
    <% } %>

   
</section>

<!-- order section ends -->
<%- include ('layouts/footer') -%>