<%- include ('../layouts/admin_header') -%>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <div class="alert alert-success alert-dismissible fade show mt-4" <%= hidden %> role="alert">
                <strong>Success!</strong> <%= messages %>.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <h1 class="mt-4">Quản lý nhân viên</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                <li class="breadcrumb-item active">Danh sách tài khoản</li>
            </ol>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    <a class="btn btn-success" href="/admin/add-staff">Tạo tài khoản mới</a>
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Họ và Tên</th>
                                <th>Email</th>
                                <th>Mật khẩu</th>
                                <th>Số điện thoại</th>
                                <th>Chức vụ</th>
                                <th style="text-align: center;">Xóa</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Họ và Tên</th>
                                <th>Email</th>
                                <th>Mật khẩu</th>
                                <th>Số điện thoại</th>
                                <th>Chức vụ</th>
                                <th style="text-align: center;">Xóa</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <% staffs.forEach(function(s){%>
                            <tr>
                                <td><%= s.id %></td>
                                <td><%= s.lname %> <%= s.fname %> </td>
                                <td><%= s.email %></td>
                                <td><%= s.password %></td>
                                <td><%= s.phone %></td>
                                <% if(s.role_id == 2){%>
                                <td>Thu ngân</td>
                                <%}else{%>
                                <td>Nhà bếp</td>
                                <%} %>
                                <td style="text-align: center;">
                                    <a class="link-danger" data-bs-toggle="modal"
                                        data-bs-target="#deleteModal<%= s.id %>" style="text-decoration: none;">
                                        Xóa
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                    <!-- Modal -->
                                    <div class="modal fade" id="deleteModal<%= s.id %>" tabindex="-1"
                                        aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteModalLabel">Xóa tài khoản</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Xóa tài khoản của <%=s.fname%>?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Đóng</button>
                                                    <button type="submit" class="btn btn-primary">
                                                        <a style="text-decoration: none; color: white;"
                                                            href="/admin/delete-staff/<%=s.id%>">Xóa</a>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                            </tr>

                            <%}) %>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <%- include ('../layouts/admin_footer') -%>